version: '3.8'

services:
  postgres-db:
    image: postgres:15-alpine
    container_name: carrental
    environment:
      - POSTGRES_DB=carrental_db
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=Password1
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: always

volumes:
  db_data: